@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #e0e0e0;
}


/* Neumorphic shadow for button and inputs */
.shadow-inner {
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}

.shadow-md {
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.shadow-lg {
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease;
}